<div class="container">
  <%= semantic_form_for trip do |f| %>
    <%= f.inputs do %>
      <%= f.input :description %>
      <%= f.input :destination %>
      <%= f.input :trip_group, :collection => collection, :member_label => collection_proc %>
      <%= f.input :trip_group_type, :collection => @trip_group_types %>
      <%= f.input :start_day, :collection => @session.days, :member_label => :date %>
      <%= f.input :start_period, :as => :select, :collection => Period.names.keys %>
      <%= f.input :end_day, :collection => @session.days, :member_label => :date %>
      <%= f.input :end_period, :as => :select, :collection => Period.names.keys %>
      <%= f.input :requires_food %>
      <%= f.input :requires_gear %>
      <%= f.input :requires_van %>
      <%= f.input :requires_lifegaurd %>
      <%= f.input :requires_wfa %>
    <% end %>
    <%= f.actions do %>
      <%= f.action :submit %>
    <% end %>
  <% end %>
</div>
