<%= render partial: "trip_navbar" %>
<div class="container">
  <div class="row justify-content-center">
    <%= link_to "New Trip for this Session", new_trip_path(session: @session), class: 'btn btn-success' %>
  </div>

  <%= calendar number_of_days: @session_length do |date| %>
    <%= link_to date, day_path(session_date_grabber(@session,date)), class: "btn black-text" %> <br>
    <% session_date_grabber(@session,date).trip_starts.each do |trip| %>
      <%= link_to trip.description, trip_path(trip), class: "btn black-text" %> <br>
    <% end %>
  <% end %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Description</th>
        <th>Group</th>
        <th>Departure period</th>
        <th>Return period</th>
        <th>Link to Trip</th>
      </tr>
    </thead>
    <tbody>
      <% @trips.each_with_index do |trip, index| %>
        <tr>
          <th scope="row"> <%= index+1 %> </th>
          <td> <%= trip.description %> </td>
          <td> <%= trip_group_name(trip.trip_group) %></td>
          <td> <%= trip.start_period %> </td>
          <td> <%= trip.end_period %> </td>
          <td> <%= link_to "Details", trip_path(trip) %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
