<%= render partial: "trip_navbar" %>
<div class="container-fluid">


  <%= calendar number_of_days: @session_length do |date| %>
    <%= link_to date, day_path(session_date_grabber(@session,date)), class: "btn black-text" %> <br>
    <% session_date_grabber(@session,date).trip_starts.each do |trip| %>
      <%= link_to trip.description, trip_path(trip), class: "btn black-text" %> <br>
    <% end %>
  <% end %>
</div>

  <div class="container">
    <div class="row justify-content-center">
      <%= link_to "New Trip for this Session", new_trip_path(session: @session), class: 'btn btn-success' %>
    </div>
  <h5> My Trips </h5>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Description</th>
        <th>Group</th>
        <th>Departure</th>
        <th>Return</th>
        <th>Link to Trip</th>
      </tr>
    </thead>
    <tbody>
      <% @my_trips.each_with_index do |trip, index| %>
        <tr>
          <th scope="row"> <%= index+1 %> </th>
          <td> <%= trip.description %> </td>
          <td> <%= trip_group_name(trip.trip_group) %></td>
          <td> <%= format_datetime(trip.start) %> </td>
          <td> <%= format_datetime(trip.finish) %> </td>
          <td> <%= link_to "Details", trip_path(trip) %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>


  <h5> All Trips for this Session </h5>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Description</th>
        <th>Group</th>
        <th>Departure period</th>
        <th>Return period</th>
        <th>Link to Trip</th>
      </tr>
    </thead>
    <tbody>
      <% @trips.each_with_index do |trip, index| %>
        <tr>
          <th scope="row"> <%= index+1 %> </th>
          <td> <%= trip.description %> </td>
          <td> <%= trip_group_name(trip.trip_group) %></td>
          <td> <%= format_datetime(trip.start) %> </td>
          <td> <%= format_datetime(trip.finish) %> </td>
          <td> <%= link_to "Details", trip_path(trip), class: "btn black-text" %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
