<%= render partial:"trip_navbar", locals: {trip: @trip}%>

<div class="container">
  <div class="row justify-content-center">
    <% if current_user.admin? || current_user.program_assistant? %>
      <%= link_to "Trip Approval Page", edit_trip_path(@trip, all_campers: false), class: 'btn btn-success' %>
    <% elsif current_user == @trip.counselor.user %>
      <%= link_to "Edit Trip Page", edit_trip_path(@trip, all_campers: false), class: 'btn btn-success' %>
    <% end %>
    <% if @trip.food %>
      <%= link_to "Edit Food", edit_trip_food_path(@trip, @trip.food), class: "btn btn-success" %>
      <%= link_to "See Trip Food", trip_food_path(@trip, @trip.food), class: 'btn btn-success' %>
    <% else %>
      <%= link_to "Add Food", new_trip_food_path(@trip), class: "btn btn-success" %>
    <% end %>
  </div>
  <h5> Trip Requirements </h5>
  <table class="table table-striped">
    <thead>
      <tr>
        <th># People</th>
        <th>Needs Food</th>
        <th>Needs Gear</th>
        <th>Needs a Van(s)</th>
        <th>Needs a Lifegaurd</th>
        <th>Needs a WFA</th>
        <th>Approved</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> <%= @trip.session_campers.count+@trip.session_counselors.count %>
        <td>
          <% if @trip.requires_food %>
            <i class="fa fa-check" aria-hidden="true"></i>
          <% end %>
        </td>
        <td>
          <% if @trip.requires_gear %>
            <i class="fa fa-check" aria-hidden="true"></i>
          <% end %>
        </td>
        <td>
          <% if @trip.requires_van %>
            <i class="fa fa-check" aria-hidden="true"></i>
          <% end %>
        </td>
        <td>
          <% if @trip.requires_lifeguard %>
            <i class="fa fa-check" aria-hidden="true"></i>
          <% end %>
        </td>
        <td>
          <% if @trip.requires_wfa %>
            <i class="fa fa-check" aria-hidden="true"></i>
          <% end %>
        </td>
        <td>
          <% if @trip.approved %>
            <i class="fa fa-check" aria-hidden="true"></i>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>

  <h5> Vans assigned to this trip </h5>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Number</th>
        <th>Capacity</th>
      </tr>
    </thead>
    <tbody>
      <% @trip.session_vans.each_with_index do |s_van, index| %>
        <tr>
          <th scope="row"> <%= index+1 %> </th>
          <td> <%= s_van.van.number %> </td>
          <td> <%= s_van.van.capacity %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h5> Counselors </h5>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Driver</th>
        <th>Lifegaurd</th>
        <th>WFA</th>
      </tr>
    </thead>
    <tbody>
      <% @trip.session_counselors.each_with_index do |s_counselor, index| %>
        <tr>
          <th scope="row"> <%= index+1 %> </th>
          <td> <%= s_counselor.counselor.name %> </td>
          <td>
            <% if s_counselor.counselor.lifegaurd %>
              <i class="fa fa-check" aria-hidden="true"></i>
            <% end %>
          </td>
          <td>
            <% if s_counselor.counselor.driver %>
              <i class="fa fa-check" aria-hidden="true"></i>
            <% end %>
          </td>
          <td>
            <% if s_counselor.counselor.wfa %>
              <i class="fa fa-check" aria-hidden="true"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <h5> Campers </h5>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Non Swimmer</th>
      </tr>
    </thead>
    <tbody>
      <% @trip.session_campers.each_with_index do |s_camper, index| %>
        <tr>
          <th scope="row"> <%= index+1 %> </th>
          <td> <%= s_camper.camper.name %> </td>
          <td>
            <% if s_camper.camper.non_swimmer %>
              <i class="fa fa-check" aria-hidden="true"></i>
            <% end %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>



</div>
