<%= render partial: "session_navbar", locals: {session: nil} %>

<div class="container">
  <div class="row justify-content-center">
    <%= link_to "Edit This Session", edit_session_path(@session), class: 'd-inline btn btn-success' %>
    <%= link_to "Delete This Session", @session, method: :delete, class: 'd-inline btn btn-danger', data: {confirm: "Are you sure you want to delete this session?"} %>
    <%= link_to "Create a Class", new_session_enf_class_path(@session), class: 'd-inline btn btn-success' %>
  </div>
  <div> Session Number: <%= @session.number %> </div>
  <div> Session Start: <%= @session.start %> </div>
  <div> Session End: <%= @session.finish %> </div>

  <%= calendar number_of_days: @session_length do |date| %>
    <%= date %>
  <% end %>

  <h5> Cabin List </h5>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th># Campers</th>
        <th># Counselors</th>
        <th>Link to Cabin</th>
      </tr>
    </thead>
    <tbody>
      <% @cabins.each_with_index do |cabin, index| %>
        <tr>
          <th scope="row"> <%= index+1 %> </th>
          <td> <%= cabin.number %> </td>
          <td> <%= cabin.session_campers.count %></td>
          <td> <%= cabin.session_counselors.count %> </td>
          <td> <%= link_to "Details", session_cabin_path(@session, cabin) %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<h5> Class List </h5>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th># Campers</th>
      <th># Counselors</th>
      <th>Link to Cabin</th>
    </tr>
  </thead>
  <tbody>
    <% @enf_classes.each_with_index do |enf_class, index| %>
      <tr>
        <th scope="row"> <%= index+1 %> </th>
        <td> <%= enf_class.name %> </td>
        <td> <%= enf_class.session_campers.count %></td>
        <td> <%= enf_class.session_counselors.count %> </td>
        <td> <%= link_to "Details", session_enf_class_path(@session, enf_class) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
