<%= render partial: "session_navbar", locals: {session: nil} %>

<div class="container">
  <div class="row justify-content-center">
    <%= link_to "Edit This Session", edit_session_path(@session), class: 'd-inline btn btn-success' %>
    <%= link_to "Delete This Session", @session, method: :delete, class: 'd-inline btn btn-danger', data: {confirm: "Are you sure you want to delete this session?"} %>
    <%= link_to "Create a Class", new_session_enf_class_path(@session), class: 'd-inline btn btn-success' %>
  </div>
  <div> Session Number: <%= @session.number %> </div>
  <div> Session Start: <%= @session.start %> </div>
  <div> Session End: <%= @session.finish %> </div>
  <div class="row justify-content-center">
    <h3> Cabin List </h3>
  </div>
  <ul>
  <% @cabins.each do |cabin| %>
    <div class="row">
      <%= link_to "Cabin #{cabin.number}", session_cabin_path(@session, cabin), class: 'btn black-text' %>
    </div>
  <% end %>
  </ul>
  <div class="row justify-content-center">
    <h3> Class List </h3>
  </div>
  <ul>
  <% @enf_classes.each do |enf_class| %>
    <li class="row">
      <%= link_to "#{enf_class[:name]}", session_enf_class_path(@session, enf_class), class: 'btn-black-text' %>
    </li>
  <% end %>
  </ul>
</div>
