<div class="container">
  <%= semantic_form_for(setup_counselor(counselor)) do |f| %>
    <%= f.inputs do %>
      <%= f.input :name %>
      <%= f.input :driver %>
      <%= f.input :lifeguard %>
      <%= f.input :wfa %>
      <%= f.semantic_fields_for :user do |user| %>
        <%= user.inputs :email, :name => "User" %>
      <% end %>
    <% end %>
    <%= f.actions do %>
      <%= f.action :submit %>
    <% end %>
  <% end %>
</div>
