<%= render partial: "sessions/session_navbar", locals: {session: @cabin.session} %>
<div class="container">
  <div class="row justify-content-center">
    <%= link_to "Edit this Cabin", edit_session_cabin_path(@cabin.session, @cabin), class: 'd-inline btn btn-success' %>
    <%= link_to "Delete this Cabin", [@cabin.session, @cabin], method: :delete, class: 'd-inline btn btn-danger', data: {confirm: "Are you sure you want to delete this cabin"} %>
  </div>
  <div class="row">
    <h4> Cabin At A Glance </h4>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th> Cabin Name </th>
        <th> Session </th>
        <th># Counselors</th>
        <th># Campers</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td> <%= @cabin.number %> </td>
          <td> <%= @cabin.session.identifier %> </td>
          <td> <%= @cabin.session_counselors.count %> </td>
          <td> <%= @cabin.session_campers.count %> </td>
        </tr>
    </tbody>
  </table>

  <br>
  <h5> In order to see a campers or counselors class schedule and session specific details, please
    click on the camper or counselor name below </h5>
  <h5> Counselors </h5>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Lifeguard</th>
        <th>Driver</th>
        <th>WFA</th>
      </tr>
    </thead>
    <tbody>
      <% @cabin.session_counselors.each_with_index do |s_counselor, index| %>
        <tr>
          <th scope="row"> <%= index+1 %> </th>
          <td> <%= link_to s_counselor.counselor.name, session_counselor_path(s_counselor), class: 'btn black-text' %> </td>
          <td>
            <% if s_counselor.counselor.lifeguard %>
              <i class="fa fa-check" aria-hidden="true"></i>
            <% end %>
          </td>
          <td>
            <% if s_counselor.counselor.driver %>
              <i class="fa fa-check" aria-hidden="true"></i>
            <% end %>
          </td>
          <td>
            <% if s_counselor.counselor.wfa %>
              <i class="fa fa-check" aria-hidden="true"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h5> Campers </h5>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Non Swimmer?</th>
        <th>Has a food allergies?</th>
        <th>Has medication(s) </th>
      </tr>
    </thead>
    <tbody>
      <% @cabin.session_campers.each_with_index do |s_camper, index| %>
        <tr>
          <th scope="row"> <%= index+1 %> </th>
          <td> <%= link_to s_camper.camper.name, session_camper_path(s_camper), class: 'btn black-text' %> </td>
          <td>
            <% if s_camper.camper.non_swimmer %>
              <i class="fa fa-check" aria-hidden="true"></i>
            <% end %>
          </td>
          <td>
            <% if s_camper.camper.has_food_allergies %>
              <i class="fa fa-check" aria-hidden="true"></i>
            <% end %>
          </td>
          <td>
            <% if s_camper.camper.has_medication %>
              <i class="fa fa-check" aria-hidden="true"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h5> Trips </h5>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Description</th>
        <th>Departure Time</th>
        <th>Expected Return</th>
        <th>Link to Trip</th>
      </tr>
    </thead>
    <tbody>
      <% @cabin.trips.each_with_index do |trip, index| %>
        <tr>
          <th scope="row"> <%= index+1 %> </th>
          <td> <%= trip.description %> </td>
          <td> <%= format_datetime(trip.start)%></td>
          <td> <%= format_datetime(trip.finish) %> </td>
          <td> <%= link_to "Details", trip_path(trip), class: 'btn btn-success' %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
