<%= render partial: "sessions/session_navbar", locals: {session: @session} %>

<div class="container">
  <div class="row">
    <%= link_to "Edit this Class", edit_session_enf_class_path(@session, @enf_class), class: 'btn btn-success' %>
    <%= link_to "Delete this Class", [@session, @enf_class], method: :delete, class: 'btn btn-danger', data: {confirm: "Are you sure you want to delete this class"} %>
  </div>
  <%= @enf_class.name %> <%= @enf_class.session.identifier %>
</div>
