<%= render partial: "sessions/session_navbar", locals: {session: @enf_class.session} %>

<div class="container">
  <div class="row">
    <%= link_to "Edit this Class", edit_session_enf_class_path(@session, @enf_class), class: 'btn btn-success' %>
    <%= link_to "Delete this Class", [@enf_class.session, @enf_class], method: :delete, class: 'btn btn-danger', data: {confirm: "Are you sure you want to delete this class"} %>
  </div>
  <div class="row">
    <h2> Class Information </h2>
  </div>
  <div class="row">
    Name: <%= @enf_class.name %>
  </div>
  <div class="row">
    Session: <%= @enf_class.session.identifier %>
  </div>
  <div class="row">
    <h4> Counselors </h4>
  </div>
  <div class="row">
    <% @enf_class.session_counselors.each do |s_counselor| %>
      <span class="c-list"> <%= s_counselor.counselor.name %> </span>
    <% end %>
  </div>

  <div class="row">
    <h4> Campers </h4>
  </div>
  <div class="row">
    <% @enf_class.session_campers.each do |s_camper| %>
      <span class="c-list"> <%= s_camper.camper.name %> </span>
    <% end %>
  </div>
</div>
